# کش پایتون (نیازی به آپلود روی گیت نیست)
__pycache__/
*.py[cod]

# محیط مجازی پایتون (حتماً باید نادیده گرفته شود)
venv/
.venv/
env/

# فایل دیتابیس لوکال (تا داده‌های تستت روی گیت‌هاب نرود)
inventory.db
*.db
*.sqlite3

# تنظمیات محیط برنامه‌نویسی شما
.vscode/
.idea/